body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: black;
}

h1 {

    font-size: 38px;
}

.scolor {
    color: orange;
}

.flex-container {
    text-align: justify;
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 85%;
}

.half-width #sore {
    padding-bottom: 30%;
}

.link-button {

    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 7%;
    color: white;
    text-decoration: none;
    font-weight: 600;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.mid-part {

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}

.orangecolor {
    color: orange;
}

.lastd {

    width: 50%;
    box-shadow: 10px 10px 50px gray;
    margin-left: 5%;
    margin-right: 5%;

}

#pa1 {
    border-left: 7px solid;
    border-image: linear-gradient(orange, rgb(255, 0, 0));
    border-image-slice: 1;
    padding-left: 15px;
}

#pa2 {
    border-left: 7px solid;
    border-image: linear-gradient(blue, rgb(17, 255, 215));
    border-image-slice: 1;
    padding-left: 15px;
}


.experance-related {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

footer {
    text-align: center;
}