body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    color: black;
}

h1 {
    font-size: 50px;
}

.scolor {
    color: orange;
}

section {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;

}

.half-width img {
    width: 85%;
}

.half-width #sore {
    padding-bottom: 30%;
}

.link-button {

    background-image: linear-gradient(orange, tomato);
    padding: 10px 20px;
    border-radius: 7%;
    color: white;
    text-decoration: none;
    font-weight: 600;

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.mid-part {

    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}